<h1>ĆWICZENIA</h1>

<div id="container">
    <div class="lessons">
        <h2>ĆWICZENIA 1</h2>
        {{#each lekcja1}}
        <a href="/lekcja1/{{this}}">{{this}}</a><br>
        {{/each}}
    </div>

    <div class="lessons">
        <h2>ĆWICZENIA 2</h2>
        {{#each lekcja2}}
        <a href="/lekcja2/{{this}}">{{this}}</a><br>
        {{/each}}
    </div>

    <div class="lessons">
        <h2>ĆWICZENIA 3</h2>
        {{#each lekcja3}}
        <a href="/lekcja3/{{this}}">{{this}}</a><br>
        {{/each}}
    </div>
    
</div>

